[abm]
N = 50
M = 5
runs = 1
stages = 5
steps = 1
bit_count = 7
p_error = 0.4

[networks]
enabled = Complete,Pref. Attach.,Small World,Long Path,Random Group
small_world_k = 4
small_world_a = 0.1
barabasi_albert_m = 2

[strategies]
individual = False
enabled = Best Neighbor,Conform,Local Majority
